<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning Project</title>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Leaflet library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet.markercluster library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Machine Learning Project</h1>

    <h2>Monthly Prediction</h2>
    <form>
        <label for="monthInput">Enter a month (1-12):</label>
        <input type="number" id="monthInput" min="1" max="12">
        <button type="submit">Predict</button>
    </form>
    <ul id="predictions"></ul>

    <div id="map"></div>
</body>
</html>
